$bottegaGreen:#00CB79;
$clearBlue: #45B0E5;
$mainGray: #CFCFCF;
$darkGray: #444444;
$front-primary: 'Monserrat', sans-serif;

.backgroundSkew{
    width: 100vw;
    height: 700px;
    background-color: $darkGray;
}
